@charset "UTF-8";

/* 미디어쿼리 - 크기별로 반응형 설정 */
@media (max-width: 1280px){
    .container { width: 100%; }

    .swiper-button-prev, .swiper-button-next { display: none; }

    .guide { background: none; }

    .guide .contentWrap { width: 100%; }
}

@media (max-width: 1024px){
    .header .nav { display: none; }

    #mNav { display: block; }
    #mNav ul {
        position: relative;
        z-index: 2;
        background: #fff;
        display: block;
    }
    
    .notice .faq { width: 100%; margin: 0; }
    .notice .faq ul li { padding: 10% 0; }
    .notice .re_notice { width: 100%; margin-top: 5rem; margin-left: 0; }

    .footer .btm_menu ul { text-align: center; }
    .footer .btm_menu ul li {
        font-size: 12px;
        float: none;
        display: inline-block;
    }

    .footer .copy, .footer .tel {
        width: 100%;
        text-align: center;
        margin: 0px auto;
        margin-top: 25px;
    }

    .footer .tel ul li {
        float: none;
        display: inline-block;
        margin-right: 5%;
        text-align: left;
    }
}

@media (max-width: 900px){
    .yellow_box, .blue_box , .shortCuts aside { display: none; }
}